* {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#search-bar {
    display: flex;
    justify-content: center;
    margin-top: 21%;
    align-items: center;
}

input {
    background-color: white;
    height: 40px;
    width: 500px;
    text-align: center;
    border-radius: 22px;
    border: none;
    box-shadow: 0.5px 0.5px 8px #3c40434c;
    font-size: medium;
}